/*
 Theme Name:   _s-foremka
 Author:       Chris Hager, Gosia Foremna
 Author URI:   https://www.metachris.com
 Template:     _s
 Version:      1.0.0
*/
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/wp-content/themes/foremka/css/fonts/lato-light-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/wp-content/themes/foremka/css/fonts/lato-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/wp-content/themes/foremka/css/fonts/lato-regular-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/wp-content/themes/foremka/css/fonts/lato-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/wp-content/themes/foremka/css/fonts/lato-bold-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/wp-content/themes/foremka/css/fonts/lato-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


html, body {
   font-family: 'Lato', sans-serif;
   font-weight: 300;
}

body {
  padding: 10px 20px;
  text-align: center;
  max-width: 720px;
  margin: auto;
}

/* HEADER */
header {
  margin-bottom: 1em;
}

#content p {
    margin-bottom: 1em;
    text-align: left;
}

.site-title {
  margin-bottom: 0.3em;
}

.site-title a {
  color: #181818;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 400;
}

.main-navigation li {
  float: initial;
  display: inline-block;
  padding: 2px 6px;
}

.main-navigation li a {
  color: #181818;
}

.main-navigation li.current_page_ancestor > a,
.main-navigation li.current_page_item > a {
  color: #181818;
  font-weight: 400;
}

.sub-menu {
    display: none;
}

.sub-menu .menu-item {
    background: white;
}

.sub-menu .menu-item:hover {
    background: rgb(224, 202, 201);
}

.sub-menu .menu-item a {
    width: inherit;
    padding: 0px 20px;
}

/* BODY */
#page .entry-title {
  display: none;
}

.attachment .entry-content img {
    border-radius: 1px;
    box-shadow: 2px 3px 8px rgba(0,0,0,0.4) !important;
}

table {
    margin-left: 24px;
}

td, th {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
}


.education td, .education th {
    padding-top: 4px;
    padding-bottom: 4px;
}

p.contact-submit {
    text-align: center !important;
}

p.contact-submit input[type="submit"] {
    font-size: 0.9rem !important;
}

/* Gallery & Yeartiles */
figure.gallery-item {
    margin: 1rem;
    max-width: 192px !important;
}

figure.gallery-item img {
    border-radius: 1px;
    /*border: 1px solid #C1C1C1;*/
}

figcaption.gallery-caption {
    display: none;
}

/* Gallery Parent (Yeartiles) */
.yeartiles figure.gallery-item img {
    border-radius: 1px;
    /*border: 1px solid #D8D8D8;*/
    opacity: 0.8;
    transition: opacity 0.5s;
}

.yeartiles figure.gallery-item:hover img {
    opacity: 1.0;
}

.yeartiles figure.gallery-item .caption {
    margin-top: -5px;
    /*background: rgba(145, 159, 162, 0.12);*/
    /*background: rgba(56, 27, 45, 0.55);*/
    color: #181818;
}


/* Carousel */
.jp-carousel-overlay {
    /*background: #D0CDCF !important;*/
    background: #929292 !important;
    height: 100% !important;
    /*background-image: linear-gradient(rgba(86,85,85,0.4), rgba(86,85,85,0.4)), url("http://www.foremka.at/wp-content/themes/_s-foremka/images/white_wall.png") !important;*/
}

.jp-carousel-slide img {
    border-radius: 1px;
    filter: alpha(opacity=100);
    opacity: 1;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.4) !important;
}


/*.jp-carousel-slide {
    display: none;
}
.jp-carousel-slide.selected {
    display: block;
}*/

.jp-carousel-slide {
       filter: alpha(opacity=0) !important;
       opacity: 0.0 !important;
 }


.jp-carousel-slide.selected {
        filter: alpha(opacity=100) !important;
        opacity: 1 !important;
}

.jp-carousel-next-button span, .jp-carousel-previous-button span {
    filter: alpha(opacity=5);
    opacity: .05;
}

.jp-carousel-next-button:hover span,
.jp-carousel-previous-button:hover span {
	filter: alpha(opacity=60);
	opacity: 0.6 !important;
}

.jp-carousel-slide {
    background-color: rgba(109, 97, 91, 0) !important;
}

.jp-carousel-transitions .jp-carousel-slide {
    transition: inherit !important;
}

.jp-carousel-transitions .jp-carousel-slide.selected {
    /* Show image transition! */
    transition: opacity 400ms linear !important;
}

.jp-carousel-close-hint {
    display: none;
}

/* Carousel Meta */
.jp-carousel-info .jp-carousel-image-meta,
.jp-carousel-info .jp-carousel-left-column-wrapper {
    display: none;
}

.jp-carousel-info {
    /*background: #181818;*/
    height: 40px;
    color: white;
    padding: 10px 20px;
}

.jp-carousel-info h2 {
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 2px !important;
    color: #2B2B2B !important;
    float: left;
}


.foremka-carousel-image-sharing {
    float: right;
    padding-right: 10px;
}

.foremka-carousel-image-sharing .fa,
.foremka-attachment-image-sharing .fa {
    margin-left:6px;
    margin-right:6px;
}

.foremka-carousel-image-sharing .fa {
    transition: color 0.3s;
}
.foremka-carousel-image-sharing .fa-envelope,
.foremka-attachment-image-sharing .fa-envelope
{ color: #C5C5C5; }

.foremka-carousel-image-sharing .fa-envelope:hover,
.foremka-attachment-image-sharing .fa-envelope:hover
{ color: white; }

.foremka-carousel-image-sharing .fa-facebook,
.foremka-attachment-image-sharing .fa-facebook
{ color: #255c95; }

.foremka-carousel-image-sharing .fa-facebook:hover,
.foremka-attachment-image-sharing .fa-facebook:hover
{ color: #1b436c; }

.foremka-carousel-image-sharing .fa-pinterest-p,
.foremka-attachment-image-sharing .fa-pinterest-p
{ color: #cb2027; }

.foremka-carousel-image-sharing .fa-pinterest-p:hover,
.foremka-attachment-image-sharing .fa-pinterest-p:hover
{ color: #9f191f; }

.foremka-carousel-image-sharing .fa-twitter,
.foremka-attachment-image-sharing .fa-twitter
{ color: #00b4e0; }

.foremka-carousel-image-sharing .fa-twitter:hover,
.foremka-attachment-image-sharing .fa-twitter:hover
{ color: #008bad; }

.foremka-carousel-image-sharing .fa-google-plus,
.foremka-attachment-image-sharing .fa-google-plus
{ color: #f1403a; }

.foremka-carousel-image-sharing .fa-google-plus:hover,
.foremka-attachment-image-sharing .fa-google-plus:hover
{ color: #e81810; }



/* Carousel on small screens */
@media only screen and (max-width: 760px) {

	.jp-carousel-next-button, .jp-carousel-previous-button {
		/*display: none;*/
	}

	/*
    .jp-carousel-info {
		margin: 0 10px;
	}

    .jp-carousel-buttons {
		display: none;
	}

	.jp-carousel-wrap {
		background-color: #000;
	}

	.jp-carousel-fadeaway {
		display: none;
	}

	#jp-carousel-comment-form-container {
		display: none;
	}

	.jp-carousel-titleanddesc {
		padding-top: 0;
		border: none;
	}
	.jp-carousel-titleanddesc-title {
		font-size: 1em;
	}

	.jp-carousel-left-column-wrapper {
		padding: 0;
		width: 100%;
	}

	.jp-carousel-photo-info {
		left: 0;
		width: 100%;
	}*/
}


/*
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}

.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}*/
